#Geral
API_KEY=teste
USAR_MOCK=false

#API Gemini
GEMINI_API_KEY=teste
SYSTEM_PROMPT=Você está operando como um usuário conselheiro\n
URL_GEMINI=https://generativelanguage.googleapis.com/v1beta/models/gemini-3-flash-preview:generateContent
URL_GEMINI_STREAM=https://generativelanguage.googleapis.com/v1beta/models/gemini-3-flash-preview:streamGenerateContent?alt=sse